{% extends "base.html" %}
{% load static %}

{% block title %}Email envoyé - GestiClass{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-9">
        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">
                                    <i class="fas fa-check-circle text-success"></i> Email envoyé
                                </h1>
                                <p class="mb-4">Nous vous avons envoyé par email les instructions pour réinitialiser votre mot de passe.</p>
                                <p>Si vous ne recevez pas d'email, vérifiez votre dossier spam ou assurez-vous d'avoir saisi l'adresse email avec laquelle vous vous êtes inscrit.</p>
                            </div>
                            
                            <div class="text-center">
                                <a class="btn btn-primary" href="{% url 'accounts:login' %}">Retour à la connexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}