{% load i18n %}{% autoescape off %}
{% blocktranslate %}Bonjour,{% endblocktranslate %}

{% blocktranslate %}Vous recevez cet email parce que vous avez demandé une réinitialisation de mot de passe pour votre compte sur GestiClass.{% endblocktranslate %}

{% translate "Veuillez cliquer sur le lien suivant pour choisir un nouveau mot de passe:" %}

https://samibmg1.pythonanywhere.com{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% translate "Votre nom d'utilisateur, au cas où vous l'auriez oublié:" %} {{ user.get_username }}

{% translate "Ce lien expirera dans 24 heures pour des raisons de sécurité." %}

{% translate "Si vous n'avez pas demandé cette réinitialisation, veuillez ignorer cet email." %}

{% translate "Merci d'utiliser GestiClass!" %}

{% blocktranslate %}L'équipe GestiClass{% endblocktranslate %}
{% endautoescape %}