{% load i18n %}
{% autoescape off %}

{% translate "GestiClass" %}
{% translate "Bienvenue parmi nous !" %}

{% blocktranslate %}Bonjour {{ first_name }} {{ last_name }},{% endblocktranslate %}
{% translate "Nous sommes ravis de vous accueillir sur GestiClass. Votre compte a été créé avec succès." %}
{% translate "Trouvez ci-dessus vos informations de connexion" %}
{% translate "Nom d'utilisateur :" %} {{ username }}
{% translate "Mot de passe temporaire :" %} {{ password }}

{% translate "Important :" %} {% translate "Pour des raisons de sécurité, nous vous recommandons de changer votre mot de passe après votre première connexion." %}

{% translate "Connectez-vous à la plateforme :" %} 
https://samibmg1.pythonanywhere.com/accounts/login/

{% translate "Bien cordialement," %} {% translate "L'équipe de GestiClass" %}

{% translate "© 2023 Plateforme Éducative. Tous droits réservés." %}
{% translate "Cet email a été envoyé automatiquement, merci de ne pas y répondre." %}
{% endautoescape %}