<div class="header" id="header">
    <div class="toggle-sidebar" onclick="toggleSidebar()">
        <i class="fas fa-bars"></i>
    </div>
    <div class="header-right">
        <div class="notification" onclick="window.location.href='{% url 'dashboard:suggestions_list' %}'">
            <i class="fas fa-bell"></i>
            <span class="badge">{{ new_contacts_count }} </span>
        </div>
        <div>
            {% if user.is_authenticated %}
            <a href="{% url 'accounts:profile' %}" class="profile-link">
                <i class="fas fa-user-alt"></i>
            </a>
            {% endif %}
        </div>  
    </div>
</div>